$font-stack--headings: serif;
$font-stack--reading: sans-serif;
$bg--color: #BDEDF9;
$nav--color: #52C6FA;
$text--color: #000;
$readingFonts: 'Oswald', sans-serif;
$headingFonts: 'Oleo Script Swash Caps', cursive;